.mainImgBox{
  position: relative;
  z-index: 1;
  width: 100vw;
  height: 100vh;
}

.mainImgTextBox{
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}


.mainImg{
  z-index: 2;
  -webkit-user-drag: none;
}

.mainImgTextTitleBox{
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainImgTextTitle{
  color: white;
  font-size: 80px;
  font-weight: bold;
  animation: fadeInUp 1s;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 80%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

.mainImgTextContent{
  color: white;
  font-size: 30px;
  animation: fadeInUpContent 1s;
}

@keyframes fadeInUpContent {
  0% {
    opacity: 0;
    transform: translate3d(0, 80%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

.introduce{
  width: 100vw;
  height: 1000px;
}


@media (max-width: 1024px) {
  .mainImgTextBox {
    width: 670px;
  }
  .mainImgTextTitle{
    font-size: 60px;
    width: 460px;
  }
}